<tr>
  <td>
    <a href="https://masternodes.online/currencies/<%= coin['symbol'] %>" target="_blank">
      <%= "#{coin['name']} (#{coin['symbol']})" %>
    </a>
  </td>
  <td><%= coin['price_dollars'] %></td>
  <td><%= coin['change_percent'] %></td>
  <td><%= coin['volume_dollars'] %></td>
  <td><%= coin['market_cap_dollars'] %></td>
  <td><%= coin['roi_percent'] %></td>
  <td><%= coin['num_masternodes'] %></td>
  <td><%= coin['coins_per_masternode'] %></td>
  <td><%= coin['masternode_value_dollars'] %></td>
</tr>
